
:root {
	--dtrg-group-level-0_background: rgba(0, 0, 0, 0.1);
	--dtrg-group-level-0_font-size: 1em;
	
	--dtrg-group-level-1_background: rgba(0, 0, 0, 0.05);
	--dtrg-group-level-1_font-size: 0.9em;
	--dtrg-group-level-1_padding: 0.25em 0.25em 0.25em 2em;
	
	--dtrg-group-level-2_background: rgba(0, 0, 0, 0.05);
	--dtrg-group-level-2_font-size: 0.9em;
	--dtrg-group-level-2_padding: 0.25em 0.25em 0.25em 2.5em;
	
	--dtrg-group-level-3_background: rgba(0, 0, 0, 0.05);
	--dtrg-group-level-3_font-size: 0.9em;
	--dtrg-group-level-3_padding: 0.25em 0.25em 0.25em 3em;
	
	--dtrg-group-level-4_background: rgba(0, 0, 0, 0.05);
	--dtrg-group-level-4_font-size: 0.9em;
	--dtrg-group-level-4_padding: 0.25em 0.25em 0.25em 3.5em;
	
	--dtrg-group-level-5_background: rgba(0, 0, 0, 0.05);
	--dtrg-group-level-5_font-size: 0.9em;
	--dtrg-group-level-5_padding: 0.25em 0.25em 0.25em 4em;
}